.st0{display:none;}
.st1{display:inline;fill:#927B63;}
.st2{fill:#88563B;}
.st3{fill:#FFFBFA;}
.st4{fill:#B5887C;}
.st5{fill:#BAAB9E;}
.st6{fill:#402A1F;}
svg
{
    height: 100vh
}
#Head
{
    transform-origin: 50% 98%;
}